.navmenu a{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    text-decoration: none;
    text-align: right;
   

}
.navmenu a:hover{
    color: red;
}
.nav-icons{
    display: flex;
}

.navmenu li{
    display: inline;
}
.navmenu ul{
    text-align: center;
}
p{
    font-size: 18px;
    font-weight: bold;

}
.home-banner h6{
    color: red;
    font-size: 20px;

}
.home-banner h1{
   
    font-size: 60px;
}
.products img{
    width: 250px;
    height: 350px;
    margin: 0px 20px;
    margin-bottom: 15px;
}
#products{
    padding: 20px 0px;
}
.products p{
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    padding: 0px 20px;
    
}
button a{
    text-decoration: none;
    color: black;
}
.home-banner{
    font-family:"Oswald", sans-serif ;
}

.text-font{
    font-family:"Oswald", sans-serif ;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif ;
}
body{
    height: 100vh;
    width: 100%;

}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    padding: 80px 13% 70px;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-3px)translateX(-5px);
    color: #fff;
}
.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition:  all .40s ease;
}
.icons a:hover{
    color: #fff;
    transform: translateY(-3px)translateX(-5px);

}